{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">📊 Dashboard</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Produits</h5>
                    <p class="card-text fs-3">{{ nbProduits }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Catégories</h5>
                    <p class="card-text fs-3">{{ nbCategories }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Paniers</h5>
                    <p class="card-text fs-3">{{ nbPaniers }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Clients</h5>
                    <p class="card-text fs-3">{{ nbClients }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
